:root{
    --primary-color: #EDB11E;
    --secondary-color: #2C2C2C;
}


.regisBtn{
    margin-right: 8px;
    position: relative;
}

.regisBtn:hover{
    cursor: pointer;
    text-decoration: underline ;
}

.regisBtn::after{
    content: "";
    position: absolute;
    border: 1px solid;
    height: 28px;
    right: -10px;
}

.formlabel{
    font-weight: 500;
}

.viewmoreBtn{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 16px;
    padding: 6px 40px;
    margin: 12px 0;
    font-weight: 600;
    border-radius: 8px;
    width: 100%;
}

.Ortext{
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

.Ortext:before{
    content: "";
    position: absolute;
    border: 1px solid;
    width: 40%;
    left: 5%;
}

.Ortext::after{
    content: "";
    position: absolute;
    border: 1px solid;
    width: 40%;
    right: 5%;
}

.socialBtn{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;         
}

.facebookBtn,
.googleBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 8px 40px;
    font-weight: 600;
    border-radius: 2px;
    width: 48%;
}

.facebookBtn{
    background-color: #253864;
}

.googleBtn{
    background-color: #DB4437;
}

.iconBtn{
    margin-right: 8px;
}

.swapLogin{
    display: flex;
    justify-content: center;
   
}

.regisText,
.loginText{
    margin-top: 10px;
    color: gray;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.loginText{
    margin: 9px 0 0 4px;
    font-weight: 500;
    color: #0d6efd;
}

/* .viewmoreBtn:after{
    content: "";
    position: absolute;
    border: 1px solid;
    width: 90%;
    bottom: 15px;
    right: 0;
    color: #000;
} */

