.FooterNavbar{
    position: absolute;
    margin-left: 200px;
    top: 210px;

}

.NavBlock{
    border: solid 1px black;
}

.FooterNavbarTitle{
    font-weight: 400;
    margin: 16px 0 16px 0;  
}

.NavCol{
    padding: 0;
    margin: 4px 0;
    
}

.titleNav{
    border-bottom: 2px solid black;
    margin: 8px ;
    padding: 0 0 8px 0;
    display: flex;
}

.NavbarDetail{
    display: flex;
    list-style-type: none;
    margin: 0 0 0 8px;
    padding: 8px 0;
    width: 150px;
    word-wrap: break-word;
    align-items: flex-start; /* Đặt các phần tử con căn về trên */
    text-align: left; /* Đảm bảo văn bản căn trái */
    
}