.FooterNavbar{
    /* position: absolute;
    margin-left: 200px;
    top: 210px; */
    width: 180px;
    margin: 12px 0 0 100px;
}

.NavBlock{
    border: solid 1px black;
}



.NavCol{
    padding: 0;
    margin: 4px 0;
    
}

.titleNav{
    border-bottom: 2px solid black;
    margin: 8px ;
    padding: 0 0 8px 0;
  
}

.NavbarDetail{
    display: flex;
    list-style-type: none;
    margin: 0 0 0 8px;
    padding: 8px 0;
    width: 150px;
    word-wrap: break-word;
    align-items: flex-start; /* Đặt các phần tử con căn về trên */
    text-align: left; /* Đảm bảo văn bản căn trái */
}


.checkboxDetail{
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 6px;
    color: #000;
}

