.titlePage{
    font-size: 30px;
    margin: 40px;
    font-weight: 650;
}

.contentText{
    width: 50%;
    text-align: justify;
    align-items: center;
    margin: 0 auto;
}

.Picgundame{
    height: 402px;
    width: 750px;
    object-fit: cover;
}

.contentTitle,
.contentHeader{
    margin: 24px 0 2px 0;
    font-size: 24px;
}

.listContent{
    line-height: 30px;
}

.LastContent{
    margin-bottom: 50px;
}

.DetailLine1{
    margin-top: 10px;
}


